body{
  font-family: $regularFont;
	font-size: $defaultMobileFontSize;
	@include tablet-to-large{
		font-size: $defaultFontSize;
	}
	line-height: 1.4;
}

hr{
	width: calc(100% - 5rem);
	@media (min-width: $maxWidthSection){
		width: 100%;
	}
	max-width: $maxWidthSection;
	border: 0;
	border-top: .1rem solid $black;
	margin: 3.2rem auto;
}

dl{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  color: $blue;
  font-size: 1.6rem;
  
  dt,
  dd{
    width: 50%;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-bottom: .1rem solid $blueLight;
    
  }
  
  dt{
    padding-right: 1.6rem;
    &:last-of-type{
      border: 0;
    }
  }
  
  dd{
    padding-left: 1.6rem;
    font-weight: 700;
    &:last-of-type{
      border: 0;
    }
  }
}

.highlight {
  line-height: 1.2;
  
  span {
    background-image: linear-gradient(rgba($white, .7), rgba($white, .7));
    background-size:  100% 70%;
    background-repeat: no-repeat;
    background-position: left 50%;
    display: inline;
    padding: 0 .8rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}

h1, h2, h3, h4, .t1, .t2, .t3, .t4{
	margin-top: 0;
	text-rendering: optimizeLegibility;
	font-weight: 600;
	font-family: $titleFont;
	color: $black;
	margin-bottom: 1.6rem;
  line-height: 1.15;
}
//fin mini-reset

////////// specifics
h1,
.t1 {
	font-size: 3.8rem;
	letter-spacing: -.02em;
  margin-bottom: $mBottom;
  
	@include regal-media-desktop(){
		font-size: 5.1rem;
	}

}

h2,
.t2{
	font-size: 2.8rem;
  margin-bottom: $mBottom;
  
	@include regal-media-desktop(){
		font-size: 3.7rem;
    letter-spacing: -0.05em;
	}
}

h3,
.t3{
  margin-bottom: 2.4rem;
}

h4,
.t4{
  text-transform: uppercase;
	font-size: 1.6rem;
}

h5,
.t5{
  text-transform: uppercase;
	font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-weight: 600;
}

.no-overflow{
	overflow: hidden;
}

.compat-object-fit{
	img{
		opacity: 0;
	}
}

.hide{
	position: absolute !important;
	left: -100000px !important;
	top: -10000px !important;
  right: auto !important;
  bottom: auto !important;
}

.white-bg{
  background-color: $white;
}

.page-content{
	padding-top: $headerHeightMobile;
	transition: transform $speed2 $defaultEase;
	position: relative;
	width: 100%;
	display: block;
	margin: auto;
  
	//@mixin regal-media-desktop{
  @media (min-width: $desktop) {
		padding-top: $headerHeightDesktop;
		padding-bottom: 0;
	}
	
	.section:last-child{
		//margin-bottom: 0;
	}
}

.btn{
	cursor: pointer;
	display: inline-flex;
  justify-content: center;
  align-items: center;
	border: 0;
	border-radius: $borderRadiusBtn-mobile;
	color: $white;
	background: $red;
	font-family: $btnFont;
	text-decoration: none;
	font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
	padding: 1.6rem 2.4rem;
	//transition: background $speed2 $defaultEase, color $speed2 $defaultEase, border $speed2 $defaultEase;
	//margin-top: auto;
  margin-bottom: 1.6rem;
	//width: 100%;
	position: relative;
  overflow: hidden;
	
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 110%;
    background: $green;
    transform: translateX(-100%);
    transition: transform $speed2 $defaultEase;
  }
  
  > * {
    position: relative;
    z-index: 2;
  }
  
  .picto {
    font-size: 0;
  }
  
	.picto:nth-child(1){
		width: 1rem;
    margin-right: 1.5rem;
		transition: transform $speed2 $defaultEase;
	}
	.picto:nth-child(2),
  .picto:nth-child(3),
  .picto-ext {
		width: 1.4rem;
    margin-left: 1.5rem;
		transition: transform $speed2 $defaultEase;
	}
	
	@include regal-media-desktop(){
		width: auto;
		border-radius: $borderRadiusBtn-desktop;
	}
  
	&:hover{
    
    .picto:nth-child(1){
      transform: translateX(-.5rem);
    }
    .picto:nth-child(2),
    .picto:nth-child(3),
    .picto-ext {
      transform: translateX(.5rem);
    }
    
    &:before {
      transform: none;
    }
	}
  
  &.inactive {
    background-color: $greyLight;
    border-color: $greyLight;
    color: $grey;
    pointer-events: none;
    
    &:hover {
      background-color: $greyLight;
      border-color: $grey;
      
      .picto:nth-child(1){
        transform: none;
      }
      .picto:nth-child(2),
      .picto:nth-child(3),
      .picto-ext {
        transform: none;
      }
    }
  }
	
	&.w-100{
		width: 100%;
	}
  
  &.small {
    padding-top: .8rem;
    padding-bottom: .8rem;
  }
  
  &:last-child{
    margin-bottom: 0;
  }
}

.expand {
  transition: max-height $speed2 $defaultEase;
  overflow: hidden;
  position: relative;
  padding-bottom: 3rem;
  margin-bottom: -.3rem;
  
  .expand-it {
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    background: $greyLight;
    padding-top: .6rem;
    padding-bottom: .6rem;
    margin-top: 0;
  }
}

.js-reveal:not(.main-footer):not(h1):not(h2):not(h3):not(.t1):not(.t2):not(.t3){
	transform: translateY(3rem); // scale(1.05) translateX(-3rem)
	transform-origin: 50% 50%;
	opacity: 0;
	transition: transform $speed1 $easeOutSine, opacity 1s $easeOutSine, max-height $speed2 $defaultEase;
	
	&.top{
		transform: translateY(-3rem);
	}
	
	&.revealed{
		transform: none;
		opacity: 1;
		transition: transform $speed1 $easeOutSine, opacity 1s $easeOutSine, max-height $speed2 $defaultEase;
	}
}
h1, .t1,
h2, .t2,
h3, .t3{
	&.js-reveal{
		transform: translateX(-3rem); // scale(1.05) translateX(-3rem)
		transform-origin: 50% 50%;
		opacity: 0;
		transition: transform $speed1 $easeOutSine, opacity 1s $easeOutSine, max-height $speed2 $defaultEase;
		
		@media (min-width: $tablet-landscape){
			&.top{
				transform: translateX(3rem);
			}
		}
		
		&.revealed{
			transform: none;
			opacity: 1;
			transition: transform $speed1 $easeOutSine, opacity 1s $easeOutSine, max-height $speed2 $defaultEase;
		}
	}
}


.video-cont{
	position: relative;
		
	&.videoplaying{
		width: calc(100vw - 2rem);
		height: 56.25vw; //16/9
	}
}
	
.embed{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	
	video,
	iframe{
		width: 100%;
		height: 100%;
		border: 0;
		
		&.top{
			position: absolute;
			height: auto;
			top: 0;
		}
		
		&.bottom{
			position: absolute;
			height: auto;
			bottom: 0;
		}
		
		&.center{
			position: absolute;
			height: 100%;
		}
	}
	
	.close{
		display: block;
		position: absolute;
		z-index: 100;
		right: 1.6rem;
		top: 1.6rem;
		width: 4rem;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		transition: color $speed2 $defaultEase;
		
		&:hover{
			color: $blue;
		}
		
		svg{
			width: 100%;
		}
	}
}

.play-video{
  display: block;
  position: relative;
  color: $white;

  .picto{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    transition: transform $speed2 $defaultEase;

    @include tablet-to-large{
      width: 8.5rem;
    }
    
    svg{
      width: 100%;
    }
  }

  &:hover{
    .picto{
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

.offscreen {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// generic classes
.t-blue{
  color: $blue;
}
.t-red{
  color: $red;
}
.t-green{
  color: $green;
}
.t-grey{
  color: $greyLight;
}
.t-black{
  color: $black;
}
.t-white{
  color: $white;
}

.b-blue{
  background-color: $blue;
}
.b-red{
  background-color: $red;
}
.b-green{
  background-color: $green;
}
.b-grey{
  background-color: $greyLight;
}
.b-black{
  background-color: $black;
}
.b-white{
  background-color: $black;
}
.t-up{
  text-transform: uppercase;
}

.full-width{
  width: 100%;
  height: auto;
  margin-bottom: 3.2rem;
  
  img{
    width: 100%;
    height: auto;
  }
}

.sticky{
  @include regal-media-mobile(){
    position: sticky;
    top: $headerHeightMobile + 1.6rem;
  }
  
  @mixin regal-media-desktop(){
    top: 3.2rem;
    transition: transform $speed2 $defaultEase;
  }
}
/*
.goingup{
  .sticky{
    
    @mixin regal-media-desktop(){
      //top: $headerHeightDesktop + 3.2rem;
      transform: translateY($headerHeightDesktop);
    }
  }
}
*/
.body-grey {
  background: $greyLight;
}
.bg-grey{
  background: $greyLight;
  padding: 1.6rem;
  
  @include regal-media-desktop(){
    padding: 3.2rem;
  }
}
.bg-red{
  background: $red;
  padding: 1.6rem;
  
  @include regal-media-desktop(){
    padding: 3.2rem;
  }
}
.bg-blue{
  background: $blue;
  padding: 1.6rem;
  
  @include regal-media-desktop(){
    padding: 3.2rem;
  }
}
.bg-green{
  background: $green;
  padding: 1.6rem;
  
  @include regal-media-desktop(){
    padding: 3.2rem;
  }
}
.bg-black{
  background: $black;
  padding: 1.6rem;
  
  @include regal-media-desktop(){
    padding: 3.2rem;
  }
}

.radius{
  border-radius: 1.2rem;
}

.bullet{
	margin-left: 2.4rem;
  margin-bottom: 3.2rem;
	li{
		margin-bottom: .8rem;
	}
}

@media (max-width: $tablet-landscape){
  .no-mobile{
    display: none !important;
  }
}

@media (min-width: $tablet-landscape){
	.mobile-only{
		display: none !important;
	}
}
