.actus-last {
  > .desc {
    text-align: center;
    font-size: 1.8rem;
    color: $greyText;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
  }
  
  .actus-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    
    @include regal-media-tablet {
      justify-content: space-between;
    }
    
    .actu {
      display: flex;
      flex-wrap: wrap;
      background: $white;
      border-radius: $bigRadius 0 0 0;
      box-shadow: $boxShadow;
      margin-bottom: $mBottom;
      
      @include regal-media-tablet {
        width: 47.5%;
        margin-bottom: 5rem;
        display: inline-block;
      }
      
      @media (min-width: $tablet-landscape) {
        width: calc(33.333% - 2rem);
        margin-right: 1.5rem;
      }
      
      .actu-cont {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        border-radius: $bigRadius 0 0 0;
      }
      
      .image {
        width: 100%;
        @include regal-media-desktop {
          width: 100%;
        }
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      
      .desc {
        width: 100%;
        padding: $sectionPaddingMobile 1rem $sectionPaddingMobile $sectionPaddingMobile;
        @include regal-media-desktop {
          width: 100%;
          padding: 3rem 1.6rem 3rem 3rem;
        }
        display: flex;
        justify-content: flex-start;
        align-items: center;
              
        .type {
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 1.6rem;
        }
        
        .t3 {
          font-weight: 500;
          font-size: 2.4rem;
        }
        
        .text {
          display: none !important;
        }
        
        .middle {
          width: 100%;
        }
      }
      
      @include regal-media-desktop {
      
        &:nth-child(2n) {
          margin-left: 0;
          border-radius: $bigRadius 0 0 0;
          .actu-cont {
            border-radius: $bigRadius 0 0 0;
          }
          .image {
            order: 1;
          }
          .desc {
            order: 2;
          }
        }
      
        &:nth-child(5n + 3) {
          margin-right: 0;
        }
        
      
        
      }
      
    }
  }
  
  .actions {
    text-align: center;
  }
}