.actus-results {
  margin-top: 0;
  
  .actus-list {
    display: flex;
    flex-wrap: wrap;
    
    @include regal-media-tablet {
      justify-content: space-between;
    }
    
    .actu {
      display: flex;
      flex-wrap: wrap;
      background: $white;
      border-radius: $bigRadius 0 0 0;
      box-shadow: $boxShadow;
      margin-bottom: $mBottom;
      
      @include regal-media-tablet {
        width: 47.5%;
        margin-bottom: 5rem;
        display: inline-block;
      }
      
      @include regal-media-desktop {
        width: calc(33.333% - 1rem);
        margin-right: 1.5rem;
        margin-bottom: 8rem;
      }
      
      .actu-cont {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        border-radius: $bigRadius 0 0 0;
      }
      
      .image {
        width: 100%;
        @include regal-media-desktop {
          width: 100%;
        }
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      
      .desc {
        width: 100%;
        padding: $sectionPaddingMobile;
        @include regal-media-desktop {
          width: 100%;
          padding: 5rem;
        }
        display: flex;
        justify-content: flex-start;
        align-items: center;
              
        .type {
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 1.6rem;
        }
        
        .t3 {
          font-weight: 500;
          font-size: 2.4rem;
        }
        
        .text {
          display: none !important;
        }
      }
      
      @include regal-media-desktop {
      
        &:nth-child(2n) {
          margin-left: 0;
          border-radius: $bigRadius 0 0 0;
          .actu-cont {
            border-radius: $bigRadius 0 0 0;
          }
          .image {
            order: 1;
          }
          .desc {
            order: 2;
          }
        }
      /*
        &:nth-child(5n + 3) {
          margin-right: 0;
        }
      */
        &:nth-child(3n+5) {
          margin-right: 0;
        }
        // &:nth-child(8) {
        //   margin-right: 0;
        // }
        // &:nth-child(11) {
        //   margin-right: 0;
        // }
        // &:nth-child(14) {
        //   margin-right: 0;
        // }
        
        &:nth-child(1) {
          width: calc(66.666% - 1rem);
          
          .image {
            width: 50%;
          }
          
          .desc {
            width: 50%;
            
            .text {
              display: block !important;
            }
          }
          
          &:before {
            display: none;
          }
        }
      
        &:nth-child(2) {
          margin-left: 0;
          margin-right: 0;
          border-radius: $bigRadius 0 0 0;
          .actu-cont {
            border-radius: $bigRadius 0 0 0;
          }
          .image {
            order: 1;
          }
          .desc {
            order: 2;
          }
        }
        
        &:nth-child(3) {
          position: relative;
          
          &:before {
            display: none;
          }
        }
      }
      
    }
    
    &.actus-list-more {
      @include regal-media-desktop {
        
        .actu {
          
          &:nth-child(1) {
            width: calc(33.333% - 1rem) !important;
            
            .image {
              width: 100%;
            }
            
            .desc {
              width: 100%;
              
              .text {
                display: none !important;
              }
            }
            
            &:before {
              display: none;
            }
          }
          
          &:nth-child(2) {
            margin-right: 1.5rem;
          }
          
          &:nth-child(5) {
            margin-right: 1.5rem;
          }
          &:nth-child(8) {
            margin-right: 1.5rem;
          }
          &:nth-child(11) {
            margin-right: 1.5rem;
          }
          &:nth-child(14) {
            margin-right: 1.5rem;
          }
          
          &:nth-child(3) {
            margin-right: 0;
          }
          &:nth-child(6) {
            margin-right: 0;
          }
          &:nth-child(9) {
            margin-right: 0;
          }
          &:nth-child(12) {
            margin-right: 0;
          }
        }
      }
    }
  }
  
  .actions {
    text-align: center;
  }
}