.actus-filters {
  margin-bottom: $mBottom;
  z-index: 20;
  
  .filters {
    margin-bottom: 0;
    //position: absolute;
    display: none;
    left: 0;
    top: 0;
    z-index: 20;
    left: 0;
    //transform: translateX(-100%);
    background: $white;
    padding: $sectionPaddingMobile;
    transition: transform $speed2 $speed $defaultEase;
    
    &.active {
      transform: none;
      display: block;
    }
    
    
    @media (min-width: $mobile) {
      position: static;
      transform: none;
      background: transparent;
      display: block;
    }
    
    @media (min-width: $tablet-landscape) {
      padding: 0 8.3333%;
      
    }
  }
  
  .js-form-type-radios {
    label {
      width: 100%;
      margin-bottom: 1.2rem;
    }
    
    @media (min-width: $mobile) {
      text-align: center;
      
      label {
        width: auto;
        margin-bottom: 3.6rem;
      }
    }
  }
  
  .open-filters-mobile {
    width: 100%;
    
    @media (min-width: $mobile) {
      display: none;
    }
  }
}