.actu-title {
  margin-bottom: 0;
  --deco-color: $black;
  &.blue {
    --deco-color: #{$blue};
  }
  &.green {
    --deco-color: #{$green};
  }
  &.blue-dark {
    --deco-color: #{$blueDark};
  }
  &.red {
    --deco-color: #{$red};
  }
  
  .content {
    position: relative;
    
    @include regal-media-desktop {
      width: calc(6 * 8.3333%);
    }
    
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      right: 20%;
      top: 4rem;
      transform: translateY(-30%);
      width: 100vw;
      background: var(--deco-color);
      height: 4.65rem;
      
      @include regal-media-desktop {
        height: 9.3rem;
        top: 0;
      }
    }
  }
}