.columns {
  
  h2,
  .t2 {
    text-align: center;
  }
  
  &.cols-4 {
    h2,
    .t2 {
      @include regal-media-desktop {
        padding-left: 8.5rem;
        margin-bottom: -.23em;
        position: relative;
        z-index: 10;
        text-align: left;
      }
    }
  }
  
  &.cols-3 {
    .cols {
      .col {
        text-align: center;
        
        @media(min-width: 770px) {
          width: 33.3333%;
        }
        
        &:nth-child(2) {
          border-radius: 0;
        }
        
        .image {
          text-align: center;
          
          img {
            display: inline-block;
          }
        }
        h3,
        .t3 {
          font-size: 2.4rem;
          text-transform: none;
          padding-bottom: 4.2rem;
          margin-bottom: 1.6rem;
          
          &:after {
            bottom: 0;
            left: 50%;
            margin-left: -1.2rem;
          }
        }
        h4,
        .t4 {
          padding-top: 0;
          margin-top: 0;
        
          &:after {
            left: 50%;
            margin-left: -1.2rem;
          }
        }

        &:nth-child(3) {
          background-color: $red;
        }
        
      }
    }
  }
  
  .cols {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    @include regal-media-tablet {
      justify-content: center;
    }
    
    .col {
      @include regal-media-mobile {
        width: 100%;
      }
      @include regal-media-tablet {
        width: 50%;
      }
      @include regal-media-desktop {
        flex: 1;
      }
      color: $white;
      overflow: hidden;
      padding: 4.5rem 4rem;
      
      &:nth-child(1) {
        border-radius: $bigRadius 0 0 0;
        background-color: $blue;
      }
      
      &:nth-child(2) {
        background-color: $green;
        
        @media (min-width: $mobile) and (max-width: $desktop - .0625em) {
          border-radius: 0 $bigRadius 0 0;
        }
      }
      
      &:nth-child(3) {
        background-color: $blueDark;
      }
      
      &:nth-child(4) {
        background-color: $red;
      }
      
      &:last-child {
        border-radius: 0 0 $bigRadius 0;
      }
      
      .image {
        margin-bottom: 3.2rem;
        
        img {
          width: auto;
          max-width: 100%;
        }
      }
      
      h3,
      .t3,
      h4,
      .t4 {
        color: currentColor;
        font-size: 1.6rem;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 2rem;
        margin-bottom: 1.8rem;
        
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          display: block;
          width: 2.4rem;
          height: .4rem;
          background: currentColor;
        }
      }

    }
  }
}