.intro-page {
  overflow: visible;
  margin-top: 4.2rem;
  
  --deco-color: $black;
  &.blue {
    --deco-color: #{$blue};
  }
  &.green {
    --deco-color: #{$green};
  }
  &.blue-dark {
    --deco-color: #{$blueDark};
  }
  &.red {
    --deco-color: #{$red};
  }
  
  .image {
    width: 100%;
    position: relative;
    
    &:before {
      content: '';
      display: block;
      width: 21rem;
      height: 4.2rem;
      position: absolute;
      left: 7rem;
      top: 0;
      transform: translateY(-50%);
      background: var(--deco-color);
    }
    
    img {
      width: 100%;
      height: auto;
    }
  }
  
  .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: $sectionPaddingMobile;
    left: $sectionPaddingMobile;
    @include regal-media-tablet {
      left: auto;
      right: $sectionPadding;
    }
    @include regal-media-desktop {
      left: auto;
      right: $sectionPadding;
    }
  }
  
  .t1 {
    line-height: 1.2;
    text-align: center;
    
    @include regal-media-mobile-small {
      font-size: 2.8rem;
    }
    
    @media (max-height: 640px) {
      font-size: 3rem;
    }
    
    span {
      background-image: linear-gradient(rgba($white, .7), rgba($white, .7));
      background-size:  100% 70%;
      background-repeat: no-repeat;
      background-position: left 50%;
      display: inline;
      padding: 0 .8rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }
}