.key-figures {
  text-align: center;
  
  .intro {
    font-size: 1.8rem;
    font-weight: 500;
    color: $greyText;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    
  }
  
  .key-list {
    display: flex;
    flex-wrap: wrap;
    
    .key {
      width: 100%;
      margin-bottom: 1.5rem;
      padding: 3rem 0 3.4rem 0;
      
      //@include regal-media-desktop {
      @media (min-width: 64em) {
        width: calc(25% - 1.125rem);
        margin-right: 1.5rem;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
        }
      }
      //@include regal-media-tablet {
      @media (min-width: $mobile) and (max-width: 63.9375em) {
        width: calc(50% - .75rem);
        margin-right: 1.5rem;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      
      
      &:nth-child(4n - 3) {
        --key-col: #{$blue};
      }
      &:nth-child(4n - 2) {
        --key-col: #{$green};
      }
      &:nth-child(4n - 1) {
        --key-col: #{$blueDark};
      }
      &:nth-child(4n) {
        --key-col: #{$red};
      }
      
      border: .9rem solid var(--key-col);
      border-left: 0;
      border-right: 0;
      
      .number {
        font-size: 4.7rem;
        font-weight: 600;
        letter-spacing: -.01em;
        color: var(--key-col);
      }
      
      > :last-child {
        margin-bottom: 0;
      }
    }
  }
}