.line-column {
  h2,
  .t2 {
    text-align: center;
  }
  h3,
  .t3 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #9f9f9f;
    text-align: center;
    margin-bottom: $mBottom;
  }
  
  .column-slider {
    
    &:nth-child(4n - 3) {
      .col:nth-child(1) {
        border-radius: $bigRadius 0 0 0;
        background-color: $blue;
      }
    }
    
    &:nth-child(4n - 2) {
      .col:nth-child(1) {
        background-color: $green;
      }
    }
    
    &:nth-child(4n - 1) {
      .col:nth-child(1) {
        background-color: $blueDark;
      }
    }
    
    &:nth-child(4n) {
      .col:nth-child(1) {
        background-color: $red;
      }
    }
    
    @include regal-media-desktop {
      &:last-child {
        background: $greyLighter;
        .col:nth-child(1) {
          border-radius: 0 0 $bigRadius 0;
        }
      }
    }
    
    
    @include regal-media-mobile {
      margin-bottom: $mBottom;
      
      .col:nth-child(1) {
        border-radius: $bigRadius 0 0 0;
      }
    }
    
    display: flex;
    flex-wrap: wrap;
    
    .col:nth-child(1) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3.2rem;
      
      @include regal-media-desktop {
        width: 23.8%;
      }
      
      h4,
      .t4 {
        color: $white;
        text-align: center;
        position: relative;
        padding-bottom: 2.4rem;
        margin-bottom: 0;
        line-height: 1.4;
        font-size: 2.4rem;
        text-transform: none;
        
        &:after {
          content: '';
          position: absolute;
          width: 2.4rem;
          height: .3rem;
          background: currentColor;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
        }
      }
    }
    
    .col:nth-child(2) {
      width: 100%;
      background: $greyLighter;
      position: relative;
      padding-bottom: $mBottom;
      
      .line-slider {
        display: flex;
        padding: 2.5rem 0;
        
        @include regal-media-desktop {
          padding: 5rem 0;
        }
        
        .slide {
          padding: 0 2.5rem;
        
          @include regal-media-desktop {
            padding: 5rem 8rem;
            border-right: .2rem solid $grey;
            
            &:nth-child(2n) {
            }
          }
        }
      }
      
      @include regal-media-desktop {
        padding-bottom: 0;
        width: 76.2%;
      }
    }
    
    @include regal-media-desktop {
      .tns-controls {
        height: 100%;
        button {
          height: 100%;
          width: 8rem;
          background: $greyLighter;
        }
      }
    }
  }
}