@import './easings';

/*
 * Sections attributes
 */
//$maxWidthSection: 1440px;
$maxWidthSectionHome: 1440px;

$maxWidthSection: 70.9375em; // 1135px //90em; //1440px //74.375em; //1190px;
$maxWidthSectionSmaller: 988px;

$sectionPadding: 2.4rem;
$sectionPaddingMobile: 2.4rem;
$sectionMarginYDesktop: 10rem;
$sectionMarginYMobile: 7.5rem;
$maxWidth: 1600px;
$headerHeight: 8.6rem;
$headerHeightDesktop: 8.6rem;
$headerHeightScrolled: 8.6rem;
$headerHeightMobile: 8.6rem;
$headerHeightMobileScrolled: 8.6rem;

$mBottom: 3.2rem;
/*
 * Durations
 */
$speed: 1s;
$speed1: 0.6s;
$speed2: 0.3s;
$speed3: 0.15s;

/*
 * Colors
 */
$black: #000000;
$white: #ffffff;
$grey: #707070;
$greyText: #9f9f9f;
$greyLight: #F0EFEB;
$greyLighter: #F7F7F7;
$greyDark: #898990;
$blueDarker: #201E71;
$red: #F17358;  
$blue: #A9C0EA;
$blueDark: #3C3998;
$blueLight: #2972FF;
$green: #65C3AE;


$navHighlight: $greyDark;
$highlight: $red;
$colorText: $black;
$colorTextLink: $blue;

$colorLinks: $blue;
$btnBgColor: $red;

$bodyColor: $white;

$transpa-bg: rgba(0,0,0,0.65); 

$maskBg: rgba($black, 0.95);
$boxShadow:  0 4px 4px rgba($grey,0.15), 
              0 8px 8px rgba($grey,0.10),
              0 16px 16px rgba($grey,0.05); 

/*
 * Miscellaneous
 */
$borderRadius: 0;
$borderRadiusBtn-desktop: 0;
$borderRadiusBtn-mobile: 0;
$bigRadius: 9rem;
$defaultRadius: 0;
$defaultFontSize: 1.6rem;
$defaultMobileFontSize: 1.6rem;
$defaultEase: $easeInOutQuad;

$homePaddingTop: 16rem;
$homeHeaderHeight: 13rem;

 /*
 * Breakpoints
 */
$mobile-small: 21.875em; //350px;
$mobile: 41.9375em; //671px;
$tablet: 48.0625em; //769px;
$tablet-landscape: 62.75em; //1004px;
$desktop: 66em; //1056px; //64em; //1024px;
$desktop-large: 80.0625em; //1281px;


@mixin regal-media-mobile-small() {
  @media (max-width: $mobile-small) {
    @content;
  }
}
@mixin regal-media-mobile(){
  @media (max-width: $desktop - .0625em){
    @content;
  }
}
@mixin regal-media-desktop(){
  @media (min-width: $desktop){
    @content;
  }
}
@mixin regal-media-tablet(){
  @media (min-width: $tablet - .0625em) and (max-width: $desktop + .0625em) {
    @content;
  }
}
@mixin tablet-to-large() {
  @media (min-width: $tablet-landscape) {
    @content;
  }
}